@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


html,body{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px;



}

#formbody{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 900px;
    background-color: antiquewhite;
    padding: 1px;

}
#formhead{
    text-align: center;
    margin-top: 29px;
    font-family: 'Open Sans', sans-serif;
}

.formrow{
    width: 80%;
    height: 60px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.formrow>input{
    width: 33%;
    height: 60px;
}
.formrow>textarea{
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}
.formrow>select{
    width: 100%;
    padding-left: 10px;
}
.radiooptions{
    height: 40px;
}